.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer{
  position: absolute;
  bottom: 0;
  width:100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color:white
}
.bg-mauve {
  background-color: #8e44ad;
  color: white; /* Vous pouvez ajuster la couleur selon vos préférences */
}
.btn-custom-purple {
  color: #8a2be2; /* Texte blanc */
  background-color: #8a2be2; /* Couleur mauve */
   /* Couleur de la bordure mauve */
}
/* Ajoutez cette classe pour définir la couleur mauve personnalisée */
.btn-custom-purple {
  color: #fff; /* Texte blanc */
  background-color: #8a2be2; /* Couleur mauve */
  border-color: #8a2be2; /* Couleur de la bordure mauve */
}
.addUserForm {
  margin-top: 60px; /* Ajoutez la marge supérieure souhaitée */
}
/* ListUsersComponent.css */

.btn-custom {
  background-color: #6c757d; /* Gris - peut être remplacé par la couleur de votre choix */
  color: #fff; /* Texte blanc */
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.btn-custom-small {
  background-color: #6c757d; /* Gris - peut être remplacé par la couleur de votre choix */
  color: #fff; /* Texte blanc */
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
}
th, td {
  max-width: 100px; /* Ajustez la largeur maximale selon vos besoins */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

